.main-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f5f9;
}

.card-container {
  border-radius: 15px;
  width: 450px;
  height: 610px;
  background-color: #ffffff;
  box-shadow: 0px 8px 30px 0px rgba(140, 149, 159, 0.2);
}

.img-container {
  max-width: 100%;
  object-fit: cover;
  height: 290px;
  border-radius: 15px;
  position: relative;
  background-image: url("./images/hero-image-business-card.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.img-container img {
  width: 100%;
  position: absolute;
  bottom: -5px;
}

.card-info {
  padding: 20px;
}

.card-info h1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  color: #111729;
}

.card-info p {
  font-size: 16px;
  color: #677489;
}

.profile-avater {
  display: flex;
  padding: 20px;
  align-items: center;
  line-height: 4px;
  gap: 20px;
}

hr {
  border-color: #f2f5f9;
  border-width: 0.5px;
  opacity: 0.4;
}

.circle-info {
  font-family: "Lato";
}

.circle-info h3 {
  font-size: 16px;
  color: #111729;
}

.circle-info p {
  font-size: 12px;
  color: #677489;
}

.circle {
  border: solid 7px #f2f5f9;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
